body {
    overflow: hidden;
    height: 100vh; /* viewport height*/
    width: 100vw; /** viewport width*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #f0a3ea;
  }
  h1{
    font-family: "shlop", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 300px;
    text-shadow: 0px 7px 9px #aecaf5;
  }
  
  #container {
    width: 400px;
    height: 400px;
    padding: 0;
    box-sizing: border-box;
    background: #f0a3ea;
  }
  
  *:after,
  *:before {
    box-sizing: inherit;
  }
  
  #spooky {
    margin: 10% auto;
    width: 80%;
    height: 80%;
    animation: floaty 3s infinite ease-in-out;
  }
  
  #halo {
    position: absolute; 
    top:-70px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 100px; 
    height: 10px; 
    background: rgba(247, 232, 181, 0.6); 
    border-radius: 100%; 
    box-shadow: 0 0 20px rgba(223, 176, 76, 0.8); 
  }
  
  @keyframes rotate {
    from {
      transform: translateX(-50%) rotate(0deg);
    }
    to {
      transform: translateX(-50%) rotate(360deg);
    }
  }

  #spooky #body {
    position: relative;
    margin: 50px auto 0;
    width: 180px;
    height: 220px;
    background: #d2f2ec;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
  }
  
  #spooky #body:before,
  #spooky #body:after {
    content: "";
    position: absolute;
    top: 130px;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #d2f2ec;
    animation: floaty 0.1s infinite;
  }
  #spooky #body:before {
    left: -18px;
  }
  
  #spooky #body:after {
    right: -18px;
  }
  
  #spooky #body #eyes {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 98px 0 0;
    width: 90px;
    height: 20px;
  }
  
  #spooky #body #eyes:before,
  #spooky #body #eyes:after {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    background: #252c49;
    border-radius: 50%;
    transform: rotate(-0deg);
  }

  #spooky #body #eyes:before {
    border-radius: 30px 30px 0 0; /* Top rounded corners */
  }
  
  #spooky #body #eyes:after {
    border-radius: 30px 30px 0 0; 
    margin-left: 15px; 
  }


  
  #spooky #body #mouth {
    background: #252c49;
    margin: 25px auto 0;
    width: 60px;
    height: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  
  #spooky #body #mouth:before {
    content: " ";
    display: block;
    background: #ffffff;
    margin-left: 20px;
    width: 10px;
    height: 10px;
  }
 
  #spooky #body #feet {
    position: absolute;
    display: flex;
    bottom: -18px;
    width: -100px;
    height: 36px;
  }
  
  #spooky #body #feet > *,
  #spooky #body #feet:before,
  #spooky #body #feet:after {
    content: " ";
    width: 36px;
    height: 36px;
    background: #d2f2ec;
    border-radius: 50%;
  }
  
  #shadow {
    margin: -98px auto 0;
    background: #230a2d;
    width: 180px;
    height: 40px;
    border-radius: 50%;
    animation: zoomy 2s infinite;
  }
  
  @keyframes floaty {
    0%,
    100% {
      transform: translateY(6);
    }
  
    50% {
      transform: translateY(-40px);
    }
  }
  
  @keyframes zoomy {
    0%,
    100% {
      transform: scale(1.5);
    }
  
    50% {
      transform: scale(0.9);
    }
  }